.idea/
.vs/

Post.API/bin
Post.API/obj

Post.Application/bin
Post.Application/obj

Post.Contract/bin
Post.Contract/obj

Post.Domain/bin
Post.Domain/obj

Post.Infrastructure/bin
Post.Infrastructure/obj

Post.Persistence/bin
Post.Persistence/obj